<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lista de vehiculos</title>
    <div th:replace="fragments/header :: css"></div>
</head>
<body>
<div th:replace="fragments/header :: menu"></div>
<div class="content">
    <h1>Gestión de Vehículos</h1>
    <hr>
    <p class="red" th:if="${mensaje}" th:text="${mensaje}"></p>
    <p th:if="${vehiculos.isEmpty()}" th:text="'No hay vehículos registrados'"></p>
    <div th:unless="${vehiculos.isEmpty()}">
        <h2>Listado de vehículos:</h2>
        <ul class="list-group list-group-flush">
            <li class="list-group-item" th:each="vehiculo : ${vehiculos}">
                <a class="link" th:href="@{/vehiculos/{id}(id=${vehiculo.id})}"
                   th:text="${vehiculo.marca}+' '+${vehiculo.modelo}+' - '+${vehiculo.matricula}"></a>
            </li>
        </ul>
    </div>
    <br>
    <p><a href="/vehiculos/nuevo">Registrar nuevo vehículo</a></p>
</div>
</body>
</html>